img {
    width: 20%;
    height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li {
    display: inline;
}

a {
    color: black;
    padding-right: 5px;
}

a:link {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sign-in {
    color: white;
    background: #4285f4;
    padding: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;

}
