img {
    width: 20%;
    height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li {
    display: inline;
}

a {
    color: black;
    padding: 10px; 
    padding-top: 15px;
}

a:link {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sign-in {
    color: white;
    background: #4285f4;
    padding-top: 10px;
}
